@import "colors";
.cassette {
    margin: 10px 0px 0px 25px;
    height: 70vh;
    background-color: transparent;
    position: relative;
}

.white {
    color: white !important;
}

.black {
    color: black !important;
}

.cassetteOpenAnimation {
  transform: rotate3d(-0.02, -1, 0, 60deg);
  -webkit-transform: rotate3d(-0.02, -1, 0, 60deg);
}

.cassetteCloseAnimation {
  transform: rotate3d(0);
  -webkit-transform: rotate3d(0);
}

.cassette img {
    height: 68vh;
}

.cassetteNameDiv {
  background-color: transparent;
  position: absolute;
  top: 65%;
  width: 100vw;
  display: table;
  text-align: center;
  
}

.cassetteName {
  font-size: 16pt;
  font-weight: 700;
  color: white;

  position: relative;
  transform: translateX(-100%) rotate(90deg);
  transform-origin: right;
  -webkit-transform: translateX(-100%) rotate(90deg);
  padding-left: 30vw;
  padding-bottom: 10vh;
  overflow-x: hidden;

  background-color: transparent;
  display: table-cell;
  vertical-align: middle;
}

.clusterColors {
    background-color: transparent;
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 10%;
    opacity: 0.85;
}

.clusterColors div {
    width: 100%;
    height: 35%;
    margin-bottom: 7px;
}

.Web {
    background-color: $red;
}

.Motion {
    background-color: $orange;
}

.Smart {
    background-color: $blue;
}

.Reality {
    background-color: $yellow;
}

@media (min-width: 780px) {
  .cassette {
    height: 60vh;
    margin-left: 35px;
    margin-right: 0px;
  }

  .cassette img {
    height: 58vh;
  }

  .fullCassetteWeb:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }

  .fullCassette {
    display: flex;
  }

  .cassetteNameDiv {
    top: 70%;
    width: 40vw;
  }
  
  .cassetteName {
    padding-left: 44%;
    // height: 40vh;
  }
}
