@font-face {
    font-family: "SevenSegment";
    src: url("../../assets/fonts/SevenSegment.ttf");
}

.Countdown {
    width: 90vw;
    margin: auto

}

.Countdown h1 {
    color: black;
    font-weight: 600;
    border-bottom: 2px solid gray;
    margin-top: 5%;
}

#CountDownStyle {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

#CountDownStyle div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    font-weight: bold;
    font-family: "SevenSegment",sans-serif;
}

#CountDownStyle div p:first-child{
    font-size: 25pt;
}


@media (min-width: 780px){
    .Countdown {
        text-align: left;
        width: 60vw;
        margin-left: 21vw;
    }

    #CountDownStyle {
        width: 45vw;
        margin: auto;
        margin-top: 10%;
    }
    
    #CountDownStyle div p{
        font-size: 20pt;
    }

    #CountDownStyle div p:first-child{
        font-size: 45pt;
    }
}