.Countdown {
    width: 90vw;
    margin: auto

}

.Countdown h1 {
    color: black;
    font-weight: 600;
    border-bottom: 2px solid gray;
}

#CountDownStyle {
    display: flex;
    justify-content: space-around;
    
}

#CountDownStyle div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

#CountDownStyle div p:first-child{
    font-size: 25pt;
}


@media (min-width: 780px){
    .Countdown {
        text-align: left;
        width: 60vw;
        margin-left: 15vw;
    }

    #CountDownStyle {
        width: 45vw;
        margin: auto;
    }
    
    #CountDownStyle div p{
        font-size: 20pt;
    }

    #CountDownStyle div p:first-child{
        font-size: 45pt;
    }
}