#vid2 {
    height: 30vh;
    width: 97%;
    background-color: transparent;
}
  
.swiper-slide {
    background-size: contain;
    background-position: center;
    margin-left: -0.2vw;
    margin-right: 0px;
}

.imageSliderBottom{
  margin-left: 15px;
  margin-right: 0px;
}
  
.mySwiper2 {
    margin-top: 5%;
    margin-left: 3%;
    height: 30vh;
}
  
.mySwiper {
    height: 9vh;
    box-sizing: border-box;
    padding: 10px 0;
    margin-left: 3%;
}
  
#vid{
    background-color: transparent;
    height: 5vh;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
  
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
  
.swiper-slide img {
    display: block;
    width: 97%;
    height: 100%;
    object-fit: contain;
}

@media (min-width:780px){
    .swiper-slide img {
      width: 100%;
    }
    
    #vid2 {
      height: 20.10723860589812vh;
      width: 16vw;
    }
    
    .mySwiper2 {
      height: 20.10723860589812vh;
      width: 16vw;
    }
    
    .mySwiper {
      height: 8vh;
    }
    
  }
  