.backarrow {
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 6vw;
    height: 10vh;
    top: 12.5vh;
    left: 5vw;
}

@media screen and (max-width: 1024px) {
    .backarrow {
        display: none;
    }
}