.chat-container {
  overflow: hidden;
  position: relative;
  padding-bottom: 10vh;
  width: 100%;
  height: 70%;
}

.chat-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.chat-container iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: #ffea00 2.5px 2.5px 0px 0px, #000000 4px 4px 0px 0px,
    #ff0000 6.5px 6.5px 0px 0px, #000000 8px 8px 0px 0px,
    #0073ff 9.5px 9.5px 0px 0px, #000000 11px 11px 0px 0px;
}

@media only screen and (max-width: 1023px) {
  @media screen and (orientation: landscape) {
    .chat-container {
      border: none;
      width: 40%;
      height: 92%;
      position: absolute;
      right: 0;
    }
    .chat-container iframe {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .chat-container {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .chat-container iframe {
    // top: 17.55vh;
    left: 5vw;
    width: 70%;
    height: 71.76%;
  }
}
