.map {
    position: fixed;
    height: 100vh;
    width: 100vw;

    &__canvas {
        background-color: black;
        z-index: 0;
        @media only screen and (max-width: 1023px) {
            touch-action: none;
        }
    }
}
