.map {
    position: fixed;
    height: 100vh;
    width: 100vw;

    &__canvas {
        background-color: black;
        z-index: 0;
        @media only screen and (max-width: 1023px) {
            touch-action: none;
        }
    }
    &_arcadeContainer{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: none;
        background-color: red;
        z-index: 999
    }
}
