.web-share-fade-in-up {
    margin: 0 auto;
    border-radius: 0 !important;
}

.web-share-fade-in-up header {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold !important;
}

@media screen and (min-width:1024px) {
    .web-share-fade-in-up {
        position: absolute;
        top: 35vh;
    }
}