@mixin fill {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@font-face {
  font-family: "SevenSegment";
  src: url("../../assets/fonts/SevenSegment.ttf");
}

.countDownPageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  position: relative;

  .more-btn {
    position: absolute;
    top: 90%;

    left: 5vw;
    transform: translate(-20%,-50%);

    @media #{$media-desktop}{
      left: 5vw;
      transform: translate(-20%, -50%);
    }

    @media screen and (max-width: 1400px){
      left: 50%;
      transform: translate(-50%, -50%);
    }

    text-decoration: none;
    color: $dark;
    font-weight: 800;
    padding: 1em 2em;
    background-color: $background;
    box-shadow: #ffea00 1.5px 1.5px 0px 0px, #000000 3px 3px 0px 0px,
      #ff0000 4.5px 4.5px 0px 0px, #000000 6px 6px 0px 0px,
      #0073ff 7.5px 7.5px 0px 0px, #000000 9px 9px 0px 0px;
  }
}
.televisionContainer {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: hidden;

  position: relative;
}

.homepageLogoContainer {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 4;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  box-sizing: border-box;

  @media #{$media-mobile} {
    justify-content: center;
  }

  .logoContainer {
    margin: 0 25px;
    width: 15vw;

    @media #{$media-mobile} {
      width: 40vw;
    }

    .ehbLogo {
      width: 100%;
    }
  }

  #ehbLogoContainer {
    @media #{$media-mobile} {
      display: none;
    }
    width: 10vw;
  }
}

#television {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: 45vw;

  @media #{$media-desktop} {
    width: 60vw;
    height: 45vw;
  }

  @media #{$media-tablet} {
    width: 80vw;
    height: 60vw;
  }

  @media #{$media-mobile} {
    width: 75vw;
    height: 56.25vw;
  }

  box-sizing: border-box;
  border: none;
  overflow: hidden;
}

.screen {
  @include fill;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;

  mix-blend-mode: screen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-weight: 700;
  overflow: hidden;
  animation: glitch 4s ease infinite;

  & span {
    font-family: "SevenSegment", sans-serif;
    font-size: 10vw;
    text-align: center;
    color: black;

    mix-blend-mode: normal;

    text-shadow: 3px 2px 2px rgba(251, 12, 12, 1),
      0px -1px 3px rgba(12, 79, 251, 0.5), -3px 0px 2px rgba(52, 251, 12, 1),
      0 0 10px #000;

    width: 100%;
    @media #{$media-tablet} {
      font-size: 13vw;
    }
  
  }

  &>.playerWrapper{
      position: relative;
      padding-top: 75%;

      width: 105%;
      transform: translateX(0.5%);
      height: 100%;

      &>.reactPlayer{
          position: absolute;
          top: 0;
          left:-17%;
          width: 110%;
          height: 100%;
      }
  }
}

.screenOverlay{
    background: url('https://68.media.tumblr.com/595a5fa01fe53ca0e4ca8f37bacc849d/tumblr_nve67mJtue1tanofjo1_500.gif');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.televisionFrame {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png);
  @include fill;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  z-index: 3;
  overflow: hidden;
}

.tvdial {
  width: 50px;
}


@keyframes glitch {
  0% {
    transform: translate(0, 0) skew(0deg);
  }
  0.5%,
  16% {
    transform: translate(2px, 0) skew(0deg);
  }
  1%,
  15% {
    transform: translate(-2px, 0) skew(0deg);
  }
  15.5% {
    transform: translate(3px, 0) skew(5deg);
  }
  17% {
    transform: translate(0, 0) skew(0deg);
  }
  100% {
    transform: translate(0, 0) skew(0deg);
  }
}
