@font-face {
  font-family: "topsecretstamp";
  src: url("../../assets/fonts/Top Secret Stamp.ttf");
}

.vhs-container {
  position: relative;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.3);

  .timing-container {
    transform: translate(-50%, 0);
    position: absolute;
    top: 41%;
    left: 22%;
    z-index: 2;
    mix-blend-mode: hard-light;
    p {
      color: #6a0f17 !important;
      font-family: "topsecretstamp", serif !important;
      font-size: 1.5vw;
      @media #{$media-tablet} {
        font-size: 3vw;
      }
    }
  }

  .title-container {
    transform: translate(-50%, 0);
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 2;
    mix-blend-mode: hard-light;
    h1 {
      color: rgb(3, 0, 46) !important;
      font-family: "Permanent Marker", cursive !important;
      font-size: 2.5vw;
      @media #{$media-tablet} {
        font-size: 3vw;
      }
    }
  }

  .vhs-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
