.video-container {
    overflow: hidden;
    width: 100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: "";
}

.video-container iframe {
    margin-top: 5vh;
    width: 100%;
    height: 70%;
    box-shadow: #ffea00 2.5px 2.5px 0px 0px, #000000 4px 4px 0px 0px, #ff0000 6.5px 6.5px 0px 0px, #000000 8px 8px 0px 0px, #0073ff 9.5px 9.5px 0px 0px, #000000 11px 11px 0px 0px;
}

@media only screen and (max-width: 1023px) {
    .video-container iframe {
        width: 80%;
        height: 89.5%;
        margin: 6% 0 0 10%;
    }
    @media only screen and(orientation: landscape) {
        .video-container iframe {
            margin: 0vh 0 0 5vw;
            width: 55%;
            height: 65%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .video-container iframe {
        position: absolute;
        margin-top: 0;
        top: 17.5vh;
        left: 5vw;
        width: 65%;
        height: 70%;
    }
}