@media (prefers-color-scheme: dark) {
    .livebody {
        background-image: url("../../assets/darkbg.png");
        background-repeat: repeat;
        width: 100vw;
        color: $background;
    }
    .sharebutton,
    h1,
    h2,
    h3,
    p {
        color: $background;
    }
    .web-share-fade-in-up,
    .web-share-fade-in-up>button {
        background-color: $dark !important;
        color: $background;
        font-weight: 700;
    }
    .web-share-fade-in-up header {
        color: $background;
    }
    .shareDiv {
        background-image: url('../../assets/share-light.svg');
    }
    @media screen and (min-width: 1024px) {
        .backarrow {
            background-image: url(../../assets/back-arrow-light.svg);
        }
        .sharebutton {
            border: 1.5px solid $background;
        }
        .shareDiv {
            background-image: none;
        }
    }
}

@media (prefers-color-scheme:light) {
    .livebody {
        background-image: url("../../assets/lightbg.png");
        background-repeat: repeat;
        width: 100vw;
        color: $dark;
    }
    .web-share-fade-in-up,
    .web-share-fade-in-up>button {
        background-color: $background !important;
    }
    .web-share-fade-in-up header {
        color: $dark;
    }
    .sharebutton,
    h1,
    h2,
    h3,
    p {
        color: $dark;
    }
    .sharebutton {
        border: 1.5px solid $dark;
    }
    .shareDiv {
        background-image: url('../../assets/share-dark.svg');
    }
    @media screen and (min-width: 1024px) {
        .backarrow {
            background-image: url(../../assets/back-arrow-dark.svg);
        }
        .shareDiv {
            background-image: none;
        }
    }
}