@media (prefers-color-scheme: dark) {
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: $dark;
    }
     ::-webkit-scrollbar-thumb {
        background: $background;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: $background;
    }
    .loader {
        background-image: url("../../assets/darkbg.png");
    }
    body {
        background-image: url("../../assets/darkbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
    }
    .sharebutton,
    h1,
    h2,
    h3,
    p,
    #mainHeader .desktop-nav a {
        color: $background !important;
    }
    #mainHeader .desktop-nav a {
        background-color: $dark;
    }
    .bm-icon {
        fill: $background;
    }
    #mainHeader .desktop-nav a {
        border-color: $background !important;
    }
    .web-share-fade-in-up,
    .web-share-fade-in-up>button {
        background-color: $dark !important;
        color: $background !important;
        font-weight: 700;
    }
    .web-share-fade-in-up #mainHeader {
        color: $background !important;
    }
    .shareDiv {
        background-image: url("../../assets/share-light.svg");
    }
    @media screen and (max-width: 1023px) {
        .streamingBottom {
            background-color: #181818;
        }
    }
    @media screen and (min-width: 1024px) {
        .backarrow {
            background-image: url(../../assets/back-arrow-light.svg);
        }
        .sharebutton {
            border: 1.5px solid $background;
        }
        .shareDiv {
            background-image: none;
        }
    }
    .lactive-class {
        background-color: $background !important;
    }
    #mainHeader .desktop-nav .lactive-class {
        color: $dark !important;
    }
}

@media (prefers-color-scheme: light) {
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: $background;
    }
     ::-webkit-scrollbar-thumb {
        background: $dark;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: $dark;
    }
    .loader {
        background-image: url("../../assets/lightbg.png");
    }
    .lactive-class {
        background-color: $dark !important;
    }
    #mainHeader .desktop-nav .lactive-class {
        color: $background !important;
    }
    body {
        background-image: url("../../assets/lightbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: black;
    }
    #mainHeader .desktop-nav a {
        background-color: $background;
    }
    .web-share-fade-in-up,
    .web-share-fade-in-up>button {
        background-color: $background !important;
    }
    .web-share-fade-in-up #mainHeader {
        color: $dark !important;
    }
    .sharebutton,
    h1,
    h2,
    h3,
    p {
        color: $dark;
    }
    .sharebutton {
        border: 1.5px solid $dark;
    }
    .shareDiv {
        background-image: url("../../assets/share-dark.svg");
    }
    @media screen and (max-width: 1023px) {
        .streamingBottom {
            background-color: #f9f9f9;
        }
    }
    @media screen and (min-width: 1024px) {
        .backarrow {
            background-image: url(../../assets/back-arrow-dark.svg);
        }
        .shareDiv {
            background-image: none;
        }
    }
}