$orange: #d45f24;
$red: #dc1f36;
$blue: #127193;
$yellow: #ecd114;
$pink: #cb98a5;
$background: #ede6d9;
$dark: #313334;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 830px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
