#infoSection {
  box-sizing: border-box;
  @media screen and (min-width: 1550px) {
    margin-left: 0;
  }

  @media screen and (max-width: 1550px) {
    width: 70vw;
    margin-left: 25vw;
  }

  @media screen and (max-width: 1400px) {
    width: 70vw;
    margin-left: 25vw;
  }
  @media screen and (max-width: 1100px) {
    width: 100vw;
    margin-left: 0;
  }

  #info-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 2em;
    max-width: 800px;
    * {
      z-index: 2;
    }
    h1 {
      z-index: 3;
      text-transform: uppercase;
      letter-spacing: 2px;
      align-self: flex-start;
      width: 100%;
      text-align: center;

      @media screen and (max-width:1250px){
        width: 80%;
      }
    }
    h2.info-subtitle {
      text-transform: uppercase;
      letter-spacing: 2px;

      text-align: left;
      font-size: 1.6em;
      margin-top: 1.8em;
      font-weight: bolder;
      align-self: flex-start;
      box-shadow: #ffea00 1.5px 1.5px 0px 0px, #000000 3px 3px 0px 0px,
        #ff0000 4.5px 4.5px 0px 0px, #000000 6px 6px 0px 0px,
        #0073ff 7.5px 7.5px 0px 0px, #000000 9px 9px 0px 0px;

      padding: 0.2em 0.3em;

      margin-left: 0vw;
      @media #{$media-desktop} {
        margin-left: 4vw;
      }
    }

    p {
      font-size: 1.4em;
      line-height: 1.5em;
      margin-top: 2em;
      width: 80%;
      @media #{$media-mobile} {
        width: 90%;
      }
    }
    img {
      width: 80%;
      margin-top: 2em;
      height: auto;
      // filter: sepia(100%) contrast(100%) saturate(200%) brightness(90%) opacity(100%) hue-rotate(-15deg);
      pointer-events: none;
    }
    #info-img1 {
      background-image: radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #9725, #9725),
        url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png),
        url("../../assets/img/ehb.jpg");
      background-size: 75%;
      background-repeat: no-repeat;
      background-position-x: 30%;
      background-position-y: 30%;
      overflow: hidden;
    }
    h2 + p {
      margin-top: 1em;
    }

    #info-img1-container,
    #info-img2-container {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      position: relative;
    }
    #nes-img {
      margin: 0;
      z-index: 2;
      width: 100%;
      height: auto;
    }
    #campus-img {
      margin: 0;
      z-index: 3;
      right: 30.5%;
      top: 9.7%;
      width: 25.5%;
      height: 330px;
      position: absolute;
      object-fit: cover;

      border-radius: 0 0 5% 5%;

      mix-blend-mode: normal;

      @media #{$media-tablet} {
        height: 55%;
      }
    }
    .practicalInfo {
      width: 50%;
      text-align: center;
      margin-bottom: 2em;
      & > p {
        margin: 0.5em 0;
        width: 100%;

        &:first-child {
          margin-top: 1em;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("../../assets/darkbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }
  #info-container {
    h2 {
      padding: 0.5em 1em;
      border: 1.5px solid rgb(255, 255, 255);
    }
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url("../../assets/lightbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
  }
  #info-container {
    h1,
    h2 {
      padding: 0.5em 1em;
      border: 1.5px solid rgb(0, 0, 0);
    }
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  #info-container {
    h1 {
      font-size: 4vw;
      margin: 0 1em;
    }
    h2 {
      font-size: 1.4em;
    }
    p {
      font-size: 1.2em;
    }
  }
}
