#info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-height: 100vh;
    * {
        z-index: 2;
    }
    h1 {
        font-size: 32px;
        font-weight: bolder;
    }
    h2 {
        font-size: 22px;
        margin-top: 1.2em;
        max-width: 700px;
        font-weight: bolder;
    }
    p {
        font-size: 11px;
        margin-top: 2em;
        width: 80%;
        max-width: 700px;
    }
    img {
        width: 80%;
        height: auto;
        max-width: 700px;
        margin-top: 2em;
        filter: sepia(100%) contrast(100%) saturate(200%) brightness(90%) opacity(70%) hue-rotate(-15deg);
        background-image: url("../../assets/campus.webp");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position-x: 30%;
        background-position-y: 30%;
    }
    h2 + p {
        margin-top: 1em;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-image: url("../../assets/darkbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100vw;
        color: white;
    }
}
    
@media (prefers-color-scheme:light) {
    body {
        background-image: url("../../assets/lightbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100vw;
        color: black;
    }
}