@media only screen and (max-width: 1023px) {
    .streaming {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (min-width: 1024px) {
    .streaming {
        display: flex;
        flex-direction: row;
        width: 100vw;
        gap: 37.5vw;
        height: 87.5vh;
    }
    button {
        position: absolute;
        left: 5vw;
        top: 10vh;
    }
    .streamingBottom {
        display: flex;
        width: 67.5vw;
        margin: 0 5vw 0 5vw;
        align-items: center;
    }
    .actionsYoutube {
        display: flex;
        justify-self: right;
        background-color: $background;
    }
    a {
        cursor: pointer;
        width: 100px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: 600;
        padding: 0.5em 1em;
        margin: 0em 3em;
        border: 1.5px solid black;
        transition: box-shadow 0.2s ease-in-out;
        &:hover {
            box-shadow: #ffea00 1.5px 1.5px 0px 0px, #000000 3px 3px 0px 0px, #ff0000 4.5px 4.5px 0px 0px, #000000 6px 6px 0px 0px, #0073ff 7.5px 7.5px 0px 0px, #000000 9px 9px 0px 0px;
        }
    }
}