.notfound-container {
  width: 80%;
  margin: auto;
  margin-top: 2em;
  position: relative;

  img {
    width: 100%;
  }

  div {
    position: absolute;
    transform: translate(-50%, 0);
    left: 39%;
    top: 41%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 6vw;
      font-weight: 800;
    }
    h3 {
      font-size: 3vw;
    }
  }
}
