.timetable-container {
  margin: 3em 20%;

  @media #{$media-tablet} {
    margin: 1em 10%;
  }

  h1:first-child {
    display: inline-block;
    margin-bottom: 1.5em;
  }
}

#teletext-container {
  position: relative;
  margin: auto;

  img {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #teletext {
    position: absolute;
    left: 26%;
    top: 20px;
  }
}
