/* Setting the margin of the timetable container to 3em 20% and then setting the margin of the
timetable container to 1em 10% when the screen size is less than or equal to the media tablet size.
It is also setting the display of the first h1 to inline-block and setting the margin-bottom of the
first h1 to 1.5em. */

.timetable-container {
    margin: 3em 20%;
    @media #{$media-tablet} {
        margin: 1em 10%;
    }
    h1:first-child {
        display: inline-block;
        margin-bottom: 1.5em;
    }
}