@import "./abstract/_variables.scss";
@import "./abstract/_reset.scss";
@import "./abstract/_global.scss";
@import "./abstract/_color-modes.scss";

@import "./pages/_index.scss";
@import "./pages/_timetable.scss";
@import "./pages/_info.scss";
@import "./pages/_livestream.scss";
@import "./pages/_notfound.scss";

@import "./components/_liveyoutubechat.scss";
@import "./components/_backarrow.scss";
@import "./components/_videoplayer.scss";
@import "./components/_share.scss";
@import "./components/_intro.scss";
@import "./components/_logo.scss";
@import "./components/_television.scss";
@import "./components/_backgroundstripes.scss";
@import "./components/_header.scss";
@import "./components/_header.scss";
@import "./components/_vhs.scss";
