        @import './styles/main.scss';
        @media (prefers-color-scheme: dark) {
            body {
                background-image: url("./assets/darkbg.png");
                background-repeat: repeat;
                width: 100vw;
                color: $background;
                .sharebutton,
                h1,
                h2,
                h3,
                p {
                    color: $background;
                }
                .sharebutton {
                    border: 1.5px solid $background;
                }
            }
            @media screen and (min-width: 1024px) {
                .backarrow {
                    background-image: url(./assets/back-arrow-light.svg);
                }
            }
        }
        
        @media (prefers-color-scheme:light) {
            body {
                background-image: url("./assets/lightbg.png");
                background-repeat: repeat;
                width: 100vw;
                color: $dark;
            }
            .sharebutton,
            h1,
            h2,
            h3,
            p {
                color: $dark;
            }
            .sharebutton {
                border: 1.5px solid $dark;
            }
            @media screen and (min-width: 1024px) {
                .backarrow {
                    background-image: url(./assets/back-arrow-dark.svg);
                }
            }
        }