@media only screen and (max-width: 1023px) {
    .streaming {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (min-width: 1024px) {
    .streaming {
        display: flex;
        flex-direction: row;
        width: 100vw;
        gap: 37.5vw;
        height: 100vh;
    }
}